<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats EJS</title>
</head>
<body>


    <% for (let i in gatos) { %>
        <a href="detalle/<%= i %>"><img src="images/<%= gatos[i].img %>" alt="<% gatos[i].idgato %>"></a>}

    <% } %>
    
</body>
</html>