<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista</title>
</head>
<body>

    <h1>Probando la vista de los gatos y los autos</h1>
    <p>Esto es una prueba del vistas del servidor EJS</p>
    
</body>
</html>